PORT=5000
DATABASE_URL=postgresql://user:password@localhost:5432/novaflux_db
JWT_SECRET=sua_chave_secreta_jwt_para_token_de_acesso
JWT_REFRESH_SECRET=sua_chave_secreta_jwt_para_token_de_refresh
CORS_ORIGIN=http://localhost:5173
